<?xml version="1.0"?>
<config>
    <modules>
        <Pro_Invoicepay>
            <version>0.1.0</version>
        </Pro_Invoicepay>
    </modules>
    <frontend>
        <routers>
            <invoicepay>
                <use>standard</use>
                <args>
                    <module>Pro_Invoicepay</module>
                    <frontName>invoicepay</frontName>
                </args>
            </invoicepay>
        </routers>
        <layout>
            <updates>
                <invoicepay>
                    <file>invoicepay.xml</file>
                </invoicepay>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <authnetcim>
                <rewrite>
                    <gateway>Pro_Invoicepay_Model_Gateway</gateway>
                </rewrite>
            </authnetcim>
            <sales>
                <rewrite>
                    <order_invoice>Pro_Invoicepay_Model_Order_Invoice</order_invoice>
                    <order_pdf_invoice>Pro_Invoicepay_Model_Order_Pdf_Invoice</order_pdf_invoice>
                </rewrite>
            </sales>
            <invoicepay>
                <class>Pro_Invoicepay_Model</class>
            </invoicepay>
        </models>
        <blocks>
            <pro_invoicepay>
                <class>Pro_Invoicepay_Block</class>
            </pro_invoicepay>
        </blocks>
        <helpers>
            <pro_invoicepay>
                <class>Pro_Invoicepay_Helper</class>
            </pro_invoicepay>
        </helpers>
        <template>
            <email>
                <invoice_email_for_pay>
                    <label>Invoice Email For Pay</label>
                    <file>sales/invoice_email_for_pay_template.html</file>
                    <type>html</type>
                </invoice_email_for_pay>
                <invoice_reminder_email_30>
                    <label>Invoice Reminder Email 30 Days Past Due</label>
                    <file>sales/invoice_reminder_email_30_template.html</file>
                    <type>html</type>
                </invoice_reminder_email_30>
                <invoice_reminder_email_60>
                    <label>Invoice Reminder Email 60 Days Past Due</label>
                    <file>sales/invoice_reminder_email_60_template.html</file>
                    <type>html</type>
                </invoice_reminder_email_60>
                <invoice_reminder_email_90>
                    <label>Invoice Reminder Email 90 Days Past Due</label>
                    <file>sales/invoice_reminder_email_90_template.html</file>
                    <type>html</type>
                </invoice_reminder_email_90>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Pro_Invoicepay before="Mage_Adminhtml">Pro_Invoicepay_Adminhtml</Pro_Invoicepay>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <pro_invoicepay_invoice_form_observer>
                        <class>Pro_Invoicepay_Model_Observer</class>
                        <method>changeForm</method>
                    </pro_invoicepay_invoice_form_observer>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <layout>
            <updates>
                <invoicepay>
                    <file>invoicepay.xml</file>
                </invoicepay>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <invoicepay_cron>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>invoicepay/observer::scan</model>
                </run>
            </invoicepay_cron>
        </jobs>
    </crontab>
</config>